.LoginForm {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 60px;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.LoginForm > form > div {
  width: 125px;
  margin: auto;
}

input {
  display: inline-block;
  width: 125px;
  box-sizing: border-box;
}